<div class="top">
  <h1 class="book">Book</h1>
  <h2 class="book-body">他の人にも読んでほしい本<br><br>
  他の人のおすすめの本<br><br>
  お互いに共有し合ってみよう！！</h2>

  <h3 class="book-new">まずは、<%=link_to "New-List", new_list_path %>から<br><br>投稿してみよう！</h3>
</div>



